body{
  background-color: #333;
}
.App {
  text-align: center;
}

.notes {
  /* background-color: rgb(173, 62, 108); */
  margin: 20px 0;
  position: relative;
  padding: 30px;
  color: black;
  border-radius: 20px;

  box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.75);
}
.notes .title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.notes .notes-inner {
  /* color: rgba(0, 0, 0, 0.8); */

}
